<section *ngIf="hidelog">
	<div class="logincon">
    <label class="lgn">LOGIN</label><br>
    <p *ngIf="message" class="text-center error">{{message}}</p> 
    <form [formGroup]="loginForm" (ngSubmit)="login()" >
		<input type="text" class="username" placeholder="USERNAME" formControlName="username" minlength="4" maxlength="15"><br>
    <div *ngIf="submitted && f.username.errors">    
        <div *ngIf="f.username.errors.required">Userid is required</div> 
    </div>
    <input type="password" class="password" placeholder="PASSWORD" formControlName="password" minlength="4" maxlength="15"><br>
    <div *ngIf="submitted && f.password.errors" class="help-block">    
        <div *ngIf="f.password.errors.required">Password is required</div>    
    </div> 
    <button class="encode" type="submit">Login</button> 
    </form>
		</div>
</section>

<router-outlet></router-outlet>